#title_first {
    left: 50px;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: red;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

button {
    position: absolute;
    width: 120px;
    height: 40px;
    color: white;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09)), #0060A5;
    box-shadow: 0px 5.11628px 12.7907px rgba(0, 0, 0, 0.35);
    border-radius: 6.39535px;
    border: none;
}

button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.22), rgba(255, 255, 255, 0.22)), #0060A5;
}

#btn-staff {
    left: 21vw;
    top: 373vh;
}

#btn-tickets {
    left: 21vw;
    top: 176vh;
}

#largestnet {
    position: relative;
    top: 10vh;
    left: 5vw;
    line-height: 1.3;
    font-size: 2em;
}

#largestnet2 {
    position: relative;
    top: 20vh;
    left: 5vw;
    font-size: 1.5em;
    line-height: 1.2;
}

#whychange {
    position: relative;
    bottom: 85vh;
    left: 5vw;
    line-height: 1.3;
    color: white;
    font-size: 2.5em;
}

#whychange2 {
    position: relative;
    bottom: 85vh;
    left: 5vw;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.6em;
}

#staffdesc {
    position: relative;
    top: 20vh;
    left: 5vw;
    line-height: 1.3;
    color: rgba(0, 0, 0, 0.85);
    font-size: 1.6em;
}

.container {
  position: inherit;
}
